*{
  margin: 0px;
  padding: 0px;
  font-family:'poppins',sans-serif;
}
body{
  background: #ffff;
}
nav {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 12px;
  }
  
  .logo {
    margin-right: 40px; 
  }
  

  .fa-solid.fa-magnifying-glass,
  .fa-solid.fa-bars {
    margin-left: 10px; 
    margin-right: 10px; 
    width: 20px;
    font-size: 20px;
  }

  .container{
    background-color:#ecdbd7 ;
  }
  #id{
    font-style: poppins;
  }
  #table{
    width: 35px;
  }
  #table2{
    margin-left: 20px;
    width: 100%;
    margin-top: 2px;
    font-weight: bold;
  }
