nav {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
  }
  
  .logo {
    margin-right: 40px; 
    
  }
  

  .fa-solid.fa-magnifying-glass,
  .fa-solid.fa-bars {
    margin-left: 10px; 
    margin-right: 10px; 
    width: 20px;
    font-size: 20px;
  }
  .container{
    background-color:#ecdbd7 ;
  }
  
  